:root{
    --primary: #ddd;
    --dark: #333;
    --yel:    #e6e612;
}
body{
    background: rgb(1, 1, 35);
    position: absolute;
    /*it can be fixed too*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*this to solve "the content will not be cut when the window is smaller than the content": */
    width:80%;
    
    max-height: 100%;
    overflow: auto;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 100px 600px 400px 340px 710px 600px 100px;
    grid-gap: .3rem;
    grid-template-areas: 
      "h h h h l l l l l l l l"
      "m m m m m m . c c c c c"
      "s s s s s s s s s s s s"
      "s s s s s s s s s s s s"
      "k k k k k k k k k k k k"
      "t t t t t t t t t t t t"
      "f f f f f f f f f f f f";
   
   
}
.header{
  grid-area:h;
  color: lightcyan;
  font-size: 3vw;
}
    
 .hleft{
    grid-area:l;
    
    }
.hleft ul{
    display: flex;
    margin-left: 30%;


}
.hleft li{
    list-style: none;
    padding-left: 2rem;
    
    
}
.hleft li a{
text-decoration: none;
color: aliceblue;
font-size: 1.3vw;
text-transform: uppercase;
}
.hleft li a:hover{
  background-color: yellow;
  color:black;
  padding: .5rem;
  border-radius: 50px;
}
.menu-icon{
  display: none;
}

.menu-icon i{
  color: #fff;
  font-size: 20px;
}
    
    .footer{
       grid-area:f; 
    }
    .content{
       grid-area:c;
       
    }
    .content img{
        max-height: 40vw;
        max-width: 40vw;
        border-radius: 50px; 
    }
   
    .menu{
       grid-area:m;
       color: aliceblue;
       margin-top: 30%;       
    }
    .menu h1{
      font-size: 40px;
    }
    .menu h6{
      font-size: 20px;
    }
    .menu h3{
      font-size: 30px;
    }
    .space{
        grid-area: x;
    }
    .contact{
        grid-area: t;
      
    }
    .space2{
        grid-area: i;
    }
    .s{
        grid-area: s;
        font-size: 30px;
    }

    .skl{
        grid-area: k;
        font-size: 28px;
    }
    .skl h2{
      font-size: 20px;
  }
    .service{
        margin-top: 5%;
    }
     
    .service ,h1,h2{
        text-align: center;
color: aliceblue;
    }
    .boxes{
        display: grid;
        grid-template-columns: repeat(11,1fr);
        grid-gap:1rem;
        grid-template-areas: 
        "b1 b1 b1 . b2 b2 b2 . b3 b3 b3";
    }
   

    .box1{
      grid-area: b1;
        background-color: var(--yel);
        color: black;
        padding: 30px;
        padding-top: 50px;
        width: fit-content;
        box-shadow: 10px 10px 5px yellow;
    }
   
    .box1:hover{
      background-color: var(--dark);
      color: var(--yel);
      border: 2px solid var(--yel);
    }
    .box1 h5{
        text-align: center;
        line-height: -20px;
       
    }
    
    .box2{
      grid-area: b2;
        background-color: var(--yel);
        color: black;
        padding: 30px;
        padding-top: 50px;
        width: fit-content;
        box-shadow: 10px 10px 5px yellow;
    }
   
    .box2:hover{
      background-color: var(--dark);
      color: var(--yel);
      border: 2px solid var(--yel);
    }

.box2 h5{
    text-align: center;
    line-height: -100px;
   
}

.box3{
  grid-area: b3;
    background-color: var(--yel);
    color: black;
    padding: 30px;
    padding-top: 50px;
    width: fit-content;
    box-shadow: 10px 10px 5px yellow;
}

.box3:hover{
  background-color: var(--dark);
  color: var(--yel);
  border: 2px solid var(--yel);
}
.box3 h5{
    text-align: center;
    line-height: -100px;
   
}
.skill{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap:2rem;
    grid-template-areas: 
    "f f f f f f b b b b b b";
}
.skill h3{
  font-size: 1vw;
}
.front{
    grid-area: f;
    width: 90%;
    margin: auto;
    color: black;
    background: rgb(230, 230, 18);
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0,1px,2px rgba(0,0,0,.22)
    
} 
.front li{
  list-style: none;
}
.backend{
    grid-area: b;
    width: 90%;
    margin: auto;
    color: black;
    background: rgb(230, 230, 18);
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,.25),0,1px,2px rgba(0,0,0,.22)
    
} 
.backend li{
  list-style: none;
 
}
.bar{
  background: #353b48;
  display: block;
  height: 2vw;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,.25),0,10px,10px rgba(0,0,0,.22);
  transition:all 0.3s cubic-bezier(.25,0.8,.25,1);
}
.bar:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,.25),0,10px,10px rgba(0,0,0,.22);
}
.bar span{
  height: 100%;
  float: left;
  background: linear-gradient(135deg,rgba(236,0,140,1)0%, rgba(252,103,103,1)100%);
}

.html{
  width: 90%;
  animation: html 4s;
}
.css{
  width: 80%;
  animation: css 4s;
}
.javascript{
  width: 60%;
  animation: javascript 4s;
}
.php{
  width: 70%;
  animation: php 4s;
}
.python{
  width: 80%;
  animation: python 4s;
}
.java{
  width: 85%;
  animation: java 4s;
}
.sql{
    width: 90%;
    animation: java 4s;
  }
@keyframes html{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes css{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes javascript{
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}
@keyframes php{
  0%{
    width: 0%;
  }
  100%{
    width: 70%;
  }
}
@keyframes python{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes java{
  0%{
    width: 0%;
  }
  100%{
    width: 85%;
  }
}
@keyframes sql{
    0%{
      width: 0%;
    }
    100%{
      width: 90%;
    }
  }
  .contacts{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap:1rem;
    grid-template-areas: 
    ". . c1 c1 c1 c1 c2 c2 c2 c2 c2 c2";
    margin-left: 5%;
    margin-right: 5%;
}
.contacts p{
  font-size: medium;
  text-align: center;
}
.info{
    grid-area: c1;
    color: #fff;
}
.info h4{
  color: yellow;
  text-align: center;
}
.form{
    grid-area: c2;
}
.form input{
    width: 20rem;
    height: 25px;
    border-radius: 50px;
    padding: 5px;
}
.form textarea{
    width: 20rem;
    height: 90px;
    border-radius: 50px;
    padding-top: 15px;
    padding-left: 15px;
}
.form ,label,p{
  color: #fff;
}
.footer img{
  height: 30px;
  width: 30px;
}
@media (max-width:1300px){

.container{
  grid-template-rows: 100px 550px 400px 350px 650px 550px 100px; 
}
@media (max-width:1150px){

.content img{
  margin-top: 25%;
}
}
@media (max-width:1000px){
  .container{
   
    grid-template-rows: 100px 450px 600px 650px 950px 550px 100px;

   }

.menu h1{
  font-size: 35px;
}
.menu h6{
  font-size: 15px;
}
.menu h3{
  font-size: 25px;
}
.boxes{
 
  grid-template-areas: 
  "b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1"
  "b2 b2 b2 b2 b2 b2 b2 b2 b2 b2 b2"
  "b3 b3 b3 b3 b3 b3 b3 b3 b3 b3 b3";
 
}
.skill{
  grid-template-areas: 
  "f f f f f f f f f f f f"
  "b b b b b b b b b b b b"; 
}
.form input{
  width: 18rem;
} 
.form textarea{
  width: 18rem;
}

.contacts{
  
  grid-template-areas: 
  "c1 c1 c1 c1 c1 c2 c2 c2 c2 c2 c2 ."
  ;
 
}
}

@media (max-width:850px){
  .container{
    grid-template-rows: 100px 450px 600px 650px 950px 500px 100px;
  }
    .form input{
      width: 17rem;
    } 
    .form textarea{
      width: 17rem;
    }
    .content img{
      margin-top: 35%;
      max-height: 43vw;
      max-width: 43vw;

    }
@media (max-width:700px){
  .header{
    font-size: xx-large;
  }
  .container{
    
    grid-template-rows: 50px 400px 450px 600px 650px 850px 750px 100px;
    grid-template-areas: 
      ". . . . . . h . . . . l"
      ". . c c c c c c c c c c"
      "m m m m m m m m m m m m"
      "s s s s s s s s s s s s"
      "s s s s s s s s s s s s"
      "k k k k k k k k k k k k"
      "t t t t t t t t t t t t"
      "f f f f f f f f f f f f";  
}
.header{
  text-align: center;
}
.content img{
  margin-top: 0%;
  max-height: 33rem;
  max-width: 31rem;
}
.menu h1{
  font-size: 33px;
}
.menu h6{
  font-size: 16px;
}
.menu h3{
  font-size: 23px;
}
.hleft{
  margin-left: 190%;
}
.hleft ul{
  position: absolute;
  margin-top:0;
  margin-left:-120%;
  flex-direction: column;
  text-align: left;
  background: yellow;
  gap: 0;
  overflow: hidden;
}
.hleft ul li{
  padding: 20px 60px;
  padding-top: 0;
}
.hleft ul li a{
font-size: small;
color: #333;
}
.menu-icon{
  display: block;
}
#menuList{
  transition: all 0.5s;
}
.form input{
  width: 40vw;
}
.form textarea{
  width: 40vw;
}
.contacts{
  grid-template-areas: 
  "c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1"
  ".  .  . c2 c2 c2 c2 c2 c2 c2 c2 c2";
  margin-left: 5%;
  margin-right: 5%;
}
@media (max-width:600px){
  .container{
    
    grid-template-rows: 50px 400px 450px 600px 650px 800px 750px 100px;
    grid-template-areas: 
      ". . . . . . h . . . . l"
      ". c c c c c c c c c c ."
      "m m m m m m m m m m m m"
      "s s s s s s s s s s s s"
      "s s s s s s s s s s s s"
      "k k k k k k k k k k k k"
      "t t t t t t t t t t t t"
      "f f f f f f f f f f f f";  
}
.skill h3{
  font-size: x-small;
}
.contacts{
  grid-template-areas: 
  "c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1"
  "c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2";
  margin-left: 5%;
  margin-right: 5%;
}
.form input{
  width: 70vw;
}
.form textarea{
  width: 70vw;
}

}
@media (max-width:510px){
  .container{
    
    grid-template-rows: 50px 400px 450px 650px 650px 800px 750px 100px;
    grid-template-areas: 
      ". . . . . . h . . . . l"
      ". c c c c c c c c . . ."
      "m m m m m m m m m m m m"
      "s s s s s s s s s s s s"
      "s s s s s s s s s s s s"
      "k k k k k k k k k k k k"
      "t t t t t t t t t t t t"
      "f f f f f f f f f f f f";  
}
.content img{
  max-height: 100vw;
  max-width: 100vw;
}
.hleft{
  margin-left: 165%;
}
}
@media (max-width:450px){
.container{
    
  grid-template-rows: 50px 350px 450px 650px 700px 700px 700px 100px;
 
}
 
  .skill{
    grid-template-areas: 
    "f f f f f f f f f f f ."
    "b b b b b b b b b b b ."; 
  }
}
@media (max-width:400px)
{
  .hleft{
    margin-left: 130%;
  }
  .skill{
    grid-template-areas: 
    "f f f f f f f f f f . ."
    "b b b b b b b b b b . ."; 
  }
}
@media (max-width:355px){
.container{
    
  grid-template-rows: 50px 300px 450px 650px 850px 750px 750px 100px;
 
}

  .hleft{
    margin-left: 120%;
  }
  .skill{
    grid-template-areas: 
    "f f f f f f f f f . . ."
    "b b b b b b b b b . . ."; 
  }
}
@media (max-width:310px){
  .container{
      
    grid-template-rows: 50px 250px 450px 650px 950px 750px 750px 100px;
   
  }
  
    .hleft{
      margin-left: 115%;
    }
    .skill{
      grid-template-areas: 
      "f f f f f f f f . . . ."
      "b b b b b b b b . . . ."; 
    }
  }
  @media (max-width:280px){
    .container{
        
      grid-template-rows: 50px 250px 450px 750px 950px 750px 750px 100px;
     
    }
    
      .hleft{
        margin-left: 115%;
      }
      .skill{
        grid-template-areas: 
        "f f f f f f f . . . . ."
        "b b b b b b b . . . . ."; 
      }
    }
